In [1]:
#Comentario
print (5*9)

45

In [2]:
base=10.2
altura=2*12
area=base*altura
print(area)

244.79999999999998

In [3]:
cad="Hola"
e=10
print(cad,e)
type(e)
type(cad)
print(area)

Hola 10
244.79999999999998

In [4]:
var=None

In [5]:
var1='phy'
var2='thon'
print(var1+var2)
cadenas=var1+var2
print(cadenas)

cadenaNum=cadenas+' '+str(3)
print(cadenaNum)

num_cadena="{}{}{}" .format(cadenas,cadenaNum,3)
print(num_cadena)

num_cadena="Cambiendo el orden: {1} {2} {0} #".format(cadenas,cadenaNum,3)
print(num_cadena)

phython
phython
phython 3
phythonphython 33
Cambiendo el orden: phython 3 3 phython #

In [6]:
print("""\
Primera línea
Segunda línea
Tercera linea
""")

Primera línea
Segunda línea
Tercera linea

In [7]:
palabra='Python'
print(palabra[0], palabra[2], palabra[4])
print(palabra[-6], palabra[-4], palabra[-2])

print(palabra[:2])
print(palabra[2:])
print(palabra[-2:])
print(palabra[:-2])

P t o
P t o
Py
thon
on
Pyth

In [8]:
print('hola'=='hola')
print('hola'!='Hola')
print(5>3)
print(5<=3)
print(2*9**0.5==6)
print((2*9)**0.5==6)
print(15==3 or False)
print(15>3 and 15<=20)

True
True
True
False
True
False
False
True

In [9]:
print('a' in 'Hola')
print('z' in 'Hola')
print('la' not in 'Hola')
print('z' not in 'Hola')

True
False
False
True

In [10]:
#Listas

lista=[31,28,31,30,31,30,31,31,30,31,30,31]
print(lista[2])
print(lista)

lis=[]
print(lis)
lis.append(2)
print(lis)

#listas anidadas

lista_numeros=[['cero',0],['uno',1],['dos',2],['tres',3],['cuatro',4],['X',5]]
print(lista_numeros)
print(lista_numeros[1])
print(lista_numeros[2][1])
lista_numeros[5][0]='cinco'
print(lista_numeros[5][0])

31
[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
[]
[2]
[['cero', 0], ['uno', 1], ['dos', 2], ['tres', 3], ['cuatro', 4], ['X', 5]]
['uno', 1]
2
cinco

In [11]:
print("Dame una cadena")
cadena=input()
print("La cadena es,", cadena)

entero = int(input("Introduce un entero: "))
print(entero)

flotante = float(input("Introduce un flotante: "))
print(flotante)

Dame una cadena
Hola
La cadena es, Hola
Introduce un entero: 89
89
Introduce un flotante: 9.2
9.2